@import "./partials/reset";
@import "./partials/typography";

@import "./partials/variables";
@import "./partials/mixins";

section {
  display: flex;
  justify-content: center;
}

table {
  height: 900px;
  overflow-y: scroll;
  width: 700px;
  display: block;
}
tbody {
  text-align: center;
}

th {
  margin: 0 30px 0 20px;
  vertical-align: middle;
  padding: 20px;
}

thead {
  height: 60px;
  width: 100%;
}

tr {
  height: 50px;
  border: 1px solid red;
  padding: 20px;

}

td {
  vertical-align: middle;
}

ul {
  display: flex;
  justify-content: center;
  margin: 50px 0 50px;
  gap: 30px;
}