@import "./partials/reset";
@import "./partials/typography";

@import "./partials/variables";
@import "./partials/mixins";

section {
  display: flex;
  justify-content: center;
  width: 900px;
  height: 827px;
  overflow-y: scroll;
  margin-left: auto;
  margin-right: auto;
}


table {
  height: 100%;
  overflow-y: scroll;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}
tbody {
  text-align: center;
}

th {
  position: sticky;
  top: -1px;
  background-color: lightgray;
  justify-content: center;
  margin: 0 30px 0 20px;
  vertical-align: middle;
}

thead {
  height: 60px;

}

tr {
  height: 50px;
  border: 1px solid red;
  padding: 20px;

}

td {
  vertical-align: middle;
}

ul {
  display: flex;
  justify-content: center;
  margin: 50px 0 50px;
  gap: 30px;
}

svg {
  width: 20px;
  padding-left: 5px;
  vertical-align: middle;
}