nav {
  @extend .container;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & a {
    font-size: 2rem;
    text-transform: uppercase;
    color: lightgray;
    text-decoration: none;
    margin: 3rem;
  }

  select {
    height: 2rem;
  }
}