@import "variables";

.wrap {
  @extend .min-height-screen;
  background-color: $background-color;
  background-image: url("../HP-background.svg");
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}