@import "variables";
//DEVICES


// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

//Wide screens
@mixin xxl {
  @media (min-width: #{$screen-2xl-min}) {
    @content;
  }
}



.container {
  margin-left: auto;
  margin-right: auto;
  @include sm {
    max-width: $screen-sm-min;
  }
  @include md {
    max-width: $screen-md-min;
  }
  @include lg {
    max-width: $screen-lg-min;
  }
  @include xl {
    max-width: $screen-xl-min;
  }
  @include xxl {
    max-width: $screen-2xl-min;
  }

}

//SHADOW bottom
.shadow-bottom {
  box-shadow: 0 5px 5px -5px #333;
}

//MIN HEIGHT SCREEN
.min-height-screen {
  min-height: calc(100vh);
}

//SECTION TITLE
.section-title {
  padding-top: 3rem;
  font-size: 1.5rem;
  font-style: italic;
  color: $secondary-gray;
  text-align: center;
  @include md {
    font-size: 2rem;
    padding-top: 4rem;
  }
}
