@import "variables";

main {
  border-radius: 12px;
  overflow: hidden;
  color: lightgray;
  @extend .container;
  display: flex;
  justify-content: flex-end;

  & > .main-table__container {
    text-align: center;
    width: 1000px;
    height: 827px;
    overflow-y: scroll;
    border-radius: 6rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  & > .main-table__container::-webkit-scrollbar-thumb {
    background: rgb(255, 32, 0);
    background: linear-gradient(180deg, rgb(127, 0, 0) 20%, rgba(0, 0, 0, 1) 60%);
    border: 1px solid transparent;
    border-radius: 12px;
    background-clip: padding-box;
  }

  & > .main-table__container::-webkit-scrollbar {
    width: .575em;
    max-height: 50%;
  }

  & > .main-table__container::-webkit-scrollbar-track {
    margin-top: 5rem;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    margin-bottom: 3.5rem;
  }
}


#main-table {
  height: 100%;
  overflow-y: scroll;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;

  caption {
    font-family: "haryp", sans-serif;
    letter-spacing: .15rem;
    font-size: 5rem;
    background: linear-gradient(180deg, rgb(127, 0, 0) 20%, rgba(0, 0, 0, 1) 60%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
  }

  thead tr th:first-child,
  tbody tr td:first-child {
    width: 14rem;
  }

  thead tr th:nth-child(2),
  tbody tr td:nth-child(2) {
    width: 9rem;
  }

  thead tr th:nth-child(4),
  tbody tr td:nth-child(4) {
    width: 6rem;
    word-break: break-all;
  }


  thead {
    height: 70px;
    font-size: 1rem;
    text-transform: uppercase;

    & svg {
      width: 20px;
      padding-left: 5px;
      vertical-align: middle;

      &:hover {
        color: $hoverColor;
      }
    }

    //@todo class active
    & svg .active {
      color: red;
      fill: red;
      background-color: red;
    }

    & th {
      background-color: #171B2CFF;
      position: sticky;
      top: -1px;
      margin: 0 30px 0 20px;
      vertical-align: middle;
    }
  }


  tbody {
    text-align: center;
    font-size: 1.1rem;


    & tr {
      height: 50px;
      padding: 20px;

      &:hover {
        color: $hoverColor;
      }
    }

    & tr:nth-child(odd) {
      background-color: rgba(0, 0, 0, 0.5);
    }

    & tr:nth-child(even) {
      background-color: rgba(0, 0, 0, 0.4);
    }

    & td {
      vertical-align: middle;
    }
  }
}


