// Small tablets and large smartphones (landscape view)
$screen-sm-min: 640px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 1024px;

// Large tablets and desktops
$screen-xl-min: 1280px;

//Wide screen desktops
$screen-2xl-min: 1536px;


$primary-yellow: #FFD100;
$secondary-gray: #707070;
$background-white-cream: #EFEFEF;